# **1. EXTRACT DATA**

In [1]:
# import library ayng digunakan
import pandas as pd
import json
import sqlite3
import numpy as np

## 1.1 projects_data.csv

In [2]:
# Membaca Data dari projects_data.csv
projects = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/projects_data.csv")
projects.head()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_14372\1348817855.py:2: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  projects = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/projects_data.csv")

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN

## 1.2 population_data.csv

In [3]:
# Membaca Data dari population_data.csv
population_csv = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/population_data.csv")
population_csv.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0,NaN

## 1.3 population_data.json

In [4]:
# Membaca Data dari population_data.json
population_json = pd.read_json("C:/Users/ASUS/mini_project_alta_zahra/dataset/population_data.json")
population_json.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

## 1.4 population_data.xml

In [5]:
%pip install lxml

Requirement already satisfied: lxml in c:\users\asus\appdata\local\programs\python\python39\lib\site-packages (5.2.2)Note: you may need to restart the kernel to use updated packages.

In [7]:
# Membuka file dari population_data.xml
from bs4 import BeautifulSoup

with open('C:/Users/ASUS/mini_project_alta_zahra/dataset/population_data.xml', 'r') as file:
    xml_data= file.read()    
    
# Menggunakan parser lxml untuk BeautifulSoup
soup = BeautifulSoup(xml_data, 'lxml')

countries = []
items = []
years = []
values = []

for record in soup.find_all('record'):
    country = record.find("field", {"name": "Country or Area"}).text
    item = record.find("field", {"name": "Item"}).text
    year_tag = record.find("field", {"name" : "Year"})
    year = int(year_tag.text) if year_tag.text else None # handle missing values
    value_tag = record.find("field", {"name": "Values"})
    value = int(value_tag.text) if value_tag and value_tag.text.isdigit() else None
    
    countries.append(country)
    items.append(item)
    years.append(year)
    values.append(value)

data = {
    "Country" : countries,
    "Item" : items,
    "Year" : years,
    "Value" : values
}

population_xml = pd.DataFrame(data)
population_xml

        Country               Item  Year Value
0         Aruba  Population, total  1960  None
1         Aruba  Population, total  1961  None
2         Aruba  Population, total  1962  None
3         Aruba  Population, total  1963  None
4         Aruba  Population, total  1964  None
...         ...                ...   ...   ...
15307  Zimbabwe  Population, total  2013  None
15308  Zimbabwe  Population, total  2014  None
15309  Zimbabwe  Population, total  2015  None
15310  Zimbabwe  Population, total  2016  None
15311  Zimbabwe  Population, total  2017  None

[15312 rows x 4 columns]

## 1.5 population_data.db

In [9]:
# Membaca Data dari population_data.db
data = []
conn = sqlite3.connect('C:/Users/ASUS/mini_project_alta_zahra/dataset/population_data.db')
cursor = conn.cursor()

cursor.execute('SELECT "Country_Name", "Country_Code", "1960" FROM population_data')
rows = cursor.fetchall()
for row in rows:
    data.append(row)
conn.close()
population_db = pd.DataFrame(data, columns=["Country Name", "Country Code", "1960"])

population_db

     Country Name Country Code        1960
0           Aruba          ABW     54211.0
1     Afghanistan          AFG   8996351.0
2          Angola          AGO   5643182.0
3         Albania          ALB   1608800.0
4         Andorra          AND     13411.0
..            ...          ...         ...
259        Kosovo          XKX    947000.0
260   Yemen, Rep.          YEM   5172135.0
261  South Africa          ZAF  17456855.0
262        Zambia          ZMB   3044846.0
263      Zimbabwe          ZWE   3747369.0

[264 rows x 3 columns]

## 1.6 API

In [10]:
# Mengambil data populasi dari berbagai negara
import requests
import numpy as np

In [11]:
# API: http://api.worldbank.org/v2/countries/ + list of country abbreviations separated by ; + /indicators/ + indicator name + ? + options
# Example: http://api.worldbank.org/v2/countries/br;cn;us;id/indicators/SP.POP.TOTL/?format=json&per_page=1000

In [53]:
from pandas import json_normalize
url = "https://api.worldbank.org/v2/countries/indicators/SP.POP.TOTL/?format=json&per_page=18000"
response = requests.get(url)
if response.status_code == 200:
    data = json_normalize(response.json()[1])
    data_api = pd.DataFrame(data)
    print(data_api)
else:
    print("Error", response.status_code)

      countryiso3code  date        value unit obs_status  decimal  \
0                 AFE  2023          NaN                        0
1                 AFE  2022  720859132.0                        0
2                 AFE  2021  702977106.0                        0
3                 AFE  2020  685112979.0                        0
4                 AFE  2019  667242986.0                        0
...               ...   ...          ...  ...        ...      ...
17019             ZWE  1964    4310332.0                        0
17020             ZWE  1963    4177931.0                        0
17021             ZWE  1962    4049778.0                        0
17022             ZWE  1961    3925952.0                        0
17023             ZWE  1960    3806310.0                        0

      indicator.id    indicator.value country.id                country.value
0      SP.POP.TOTL  Population, total         ZH  Africa Eastern and Southern
1      SP.POP.TOTL  Population, total         ZH  Africa Eastern and Southern
2      SP.POP.TOTL  Population, total         ZH  Africa Eastern and Southern
3      SP.POP.TOTL  Population, total         ZH  Africa Eastern and Southern
4      SP.POP.TOTL  Population, total         ZH  Africa Eastern and Southern
...            ...                ...        ...                          ...
17019  SP.POP.TOTL  Population, total         ZW                     Zimbabwe
17020  SP.POP.TOTL  Population, total         ZW                     Zimbabwe
17021  SP.POP.TOTL  Population, total         ZW                     Zimbabwe
17022  SP.POP.TOTL  Population, total         ZW                     Zimbabwe
17023  SP.POP.TOTL  Population, total         ZW                     Zimbabwe

[17024 rows x 10 columns]

# **2. TRANSFORM**

## 2.1 Kombinasi Data

In [64]:
# Extract Data dari rural_population_percent.csv
rural = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/rural_population_percent.csv")
rural.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873,NaN

In [23]:
# Hapus kolom Unnamed: 62
rural.drop(columns=['Unnamed: 62'], inplace=True)

In [52]:
# Hapus Duplikasi Data
duplicate_rows = rural[rural.duplicated()]
rural = rural.drop_duplicates()
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
Index: []

[0 rows x 62 columns]

In [25]:
# Cek Missing Values
missing_values = rural.isnull().sum()
missing_values

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2013              0
2014              0
2015              0
2016              0
2017              0
Length: 62, dtype: int64

In [26]:
# Isi missing values dengan nilai 0
rural.fillna(0, inplace=True)

# Cek Missing Values
missing_values = rural.isnull().sum()
missing_values

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2013              0
2014              0
2015              0
2016              0
2017              0
Length: 62, dtype: int64

In [27]:
rural

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Rural population (% of total population),SP.RUR.TOTL.ZS,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
260,"Yemen, Rep.",YEM,Rural population (% of total population),SP.RUR.TOTL.ZS,90.900,90.541,90.169,89.784,89.386,88.974,...,69.398,68.835,68.268,67.698,67.126,66.550,65.973,65.394,64.813,64.231
261,South Africa,ZAF,Rural population (% of total population),SP.RUR.TOTL.ZS,53.381,53.207,53.094,52.980,52.866,52.752,...,38.846,38.313,37.782,37.254,36.728,36.212,35.702,35.199,34.705,34.218
262,Zambia,ZMB,Rural population (% of total population),SP.RUR.TOTL.ZS,81.855,81.049,80.215,79.288,77.985,76.628,...,62.125,61.701,61.275,60.847,60.413,59.973,59.528,59.078,58.621,58.160
263,Zimbabwe,ZWE,Rural population (% of total population),SP.RUR.TOTL.ZS,87.392,87.179,86.918,86.422,85.908,85.380,...,66.440,66.622,66.804,66.985,67.166,67.346,67.499,67.624,67.723,67.793

In [65]:
rural.to_csv('C:/Users/ASUS/mini_project_alta_zahra/cleaning_data/rural_cleaned.csv', index=False)

In [69]:
# Extract Data dari electricity_access_percent.csv
electricity = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/electricity_access_percent.csv")
electricity.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN,NaN
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN,NaN
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN

In [72]:
# Hapus kolom Unnamed: 62
electricity.drop(columns=['Unnamed: 62'], inplace=True)

In [73]:
# Hapus Duplikasi Data
duplicate_rows = electricity[electricity.duplicated()]
electricity = electricity.drop_duplicates()
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
Index: []

[0 rows x 62 columns]

In [74]:
# Cek Missing Values
missing_values = electricity.isnull().sum()
missing_values

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              264
                 ...
2013                3
2014                3
2015                3
2016                3
2017              264
Length: 62, dtype: int64

In [75]:
# Isi missing values dengan nilai 0
electricity.fillna(0, inplace=True)

# Cek Missing Values
missing_values = electricity.isnull().sum()
missing_values

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2013              0
2014              0
2015              0
2016              0
2017              0
Length: 62, dtype: int64

In [76]:
electricity

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,0.0
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,0.0
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,0.0
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000,0.0
260,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349,0.0
261,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000,0.0
262,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337,0.0
263,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.0,0.0,0.0,0.0,0.0,0.0,...,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138,0.0

In [77]:
electricity.to_csv('C:/Users/ASUS/mini_project_alta_zahra/cleaning_data/electricity_cleaned.csv', index=False)

In [78]:
# Kombinasi Data 
combine = pd.concat([rural,electricity])
combine.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873

In [79]:
# Cek Missing Values
missing_values = combine.isnull().sum()
missing_values

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              5
                 ..
2013              4
2014              4
2015              4
2016              4
2017              4
Length: 62, dtype: int64

In [80]:
# Cek Duplikasi Data
duplicate_rows = combine[combine.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
Index: []

[0 rows x 62 columns]

In [81]:
combine

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217000,56.579000,56.941000,57.302000,57.636000,57.942000,58.221000,58.472000,58.696000,58.893
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054000,75.687000,75.311000,74.926000,74.532000,74.129000,73.718000,73.297000,72.868000,72.430
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491000,60.701000,59.903000,59.100000,58.301000,57.510000,56.726000,55.950000,55.181000,54.422
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009000,48.924000,47.837000,46.753000,45.670000,44.617000,43.591000,42.593000,41.624000,40.684
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133000,11.648000,12.183000,12.740000,13.292000,13.835000,14.367000,14.885000,15.388000,15.873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.000,0.000,0.000,0.000,0.000,0.000,...,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000,0.000
260,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.000,0.000,0.000,0.000,0.000,0.000,...,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349,0.000
261,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.000,0.000,0.000,0.000,0.000,0.000,...,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000,0.000
262,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.000,0.000,0.000,0.000,0.000,0.000,...,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337,0.000
263,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,0.000,0.000,0.000,0.000,0.000,0.000,...,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138,0.000

In [82]:
combine.to_csv('C:/Users/ASUS/mini_project_alta_zahra/cleaning_data/combine_cleaned.csv', index=False)

In [83]:
rural.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')

In [84]:
electricity.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')

In [85]:
# Menggabungkan dataset rural_population_percent.csv dan electricity_access_percent.csv
# dengan kolom kunci "Country" dan jenis join yang digunakan yaitu inner join. 
# Hanya baris yang memiliki nilai yang cocok di kedua DataFrame yang akan disertakan dalam hasil.
combined_data = pd.merge(rural, electricity, on='Country Name', how='inner')
combined_data

,Country Name,Country Code_x,Indicator Name_x,Indicator Code_x,1960_x,1961_x,1962_x,1963_x,1964_x,1965_x,...,2008_y,2009_y,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,93.086166,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,0.0
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,0.0
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,31.268013,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,0.0
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Rural population (% of total population),SP.RUR.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000,0.0
260,"Yemen, Rep.",YEM,Rural population (% of total population),SP.RUR.TOTL.ZS,90.900,90.541,90.169,89.784,89.386,88.974,...,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349,0.0
261,South Africa,ZAF,Rural population (% of total population),SP.RUR.TOTL.ZS,53.381,53.207,53.094,52.980,52.866,52.752,...,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000,0.0
262,Zambia,ZMB,Rural population (% of total population),SP.RUR.TOTL.ZS,81.855,81.049,80.215,79.288,77.985,76.628,...,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337,0.0
263,Zimbabwe,ZWE,Rural population (% of total population),SP.RUR.TOTL.ZS,87.392,87.179,86.918,86.422,85.908,85.380,...,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138,0.0

In [86]:
combined_data.to_csv('C:/Users/ASUS/mini_project_alta_zahra/cleaning_data/combined_data_cleaned.csv', index=False)

## 2.2 Cleaning Data

### 2.2.1 projects_data.csv

In [108]:
# Cek Missing Values
missing_values = projects.isnull().sum()
missing_values

id                          0
regionname                  0
countryname                 0
prodline                    0
lendinginstr                0
lendinginstrtype            0
envassesmentcategorycode    0
supplementprojectflg        0
productlinetype             0
projectstatusdisplay        0
status                      0
project_name                0
boardapprovaldate           0
board_approval_month        0
closingdate                 0
lendprojectcost             0
ibrdcommamt                 0
idacommamt                  0
totalamt                    0
grantamt                    0
borrower                    0
impagency                   0
url                         0
projectdoc                  0
majorsector_percent         0
sector1                     0
sector2                     0
sector3                     0
sector4                     0
sector5                     0
sector                      0
mjsector1                   0
mjsector2                   0
mjsector3                   0
mjsector4                   0
mjsector5                   0
mjsector                    0
theme1                      0
theme2                      0
theme3                      0
theme4                      0
theme5                      0
theme                       0
goal                        0
financier                   0
mjtheme1name                0
mjtheme2name                0
mjtheme3name                0
mjtheme4name                0
mjtheme5name                0
location                    0
GeoLocID                    0
GeoLocName                  0
Latitude                    0
Longitude                   0
Country                     0
Unnamed: 56                 0
dtype: int64

In [109]:
# Isi missing values dengan nilai 0
# projects.fillna(0, inplace=True)
projects = projects.replace('NaN', 0)

# Cek Missing Values
missing_values = projects.isnull().sum()
missing_values

id                          0
regionname                  0
countryname                 0
prodline                    0
lendinginstr                0
lendinginstrtype            0
envassesmentcategorycode    0
supplementprojectflg        0
productlinetype             0
projectstatusdisplay        0
status                      0
project_name                0
boardapprovaldate           0
board_approval_month        0
closingdate                 0
lendprojectcost             0
ibrdcommamt                 0
idacommamt                  0
totalamt                    0
grantamt                    0
borrower                    0
impagency                   0
url                         0
projectdoc                  0
majorsector_percent         0
sector1                     0
sector2                     0
sector3                     0
sector4                     0
sector5                     0
sector                      0
mjsector1                   0
mjsector2                   0
mjsector3                   0
mjsector4                   0
mjsector5                   0
mjsector                    0
theme1                      0
theme2                      0
theme3                      0
theme4                      0
theme5                      0
theme                       0
goal                        0
financier                   0
mjtheme1name                0
mjtheme2name                0
mjtheme3name                0
mjtheme4name                0
mjtheme5name                0
location                    0
GeoLocID                    0
GeoLocName                  0
Latitude                    0
Longitude                   0
Country                     0
Unnamed: 56                 0
dtype: int64

In [110]:
projects

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,0.0,0.0,0.0,0,0,0,0,0,0,0.0
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,0.0,0.0,0.0,0,0,0,0,0,0,0.0
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,0,Y,L,Active,...,0.0,0.0,0.0,0,0,0,0,0,0,0.0
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,0.0,0.0,0.0,0,0,0,0,0,0,0.0
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,0.0,0.0,0.0,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,P006578,Latin America and Caribbean,Republic of Chile;Republic of Chile,PE,Specific Investment Loan,IN,0,N,L,Closed,...,0.0,0.0,0.0,0,0,0,0,0,0,0.0
18244,P037451,Europe and Central Asia,Grand Duchy of Luxembourg;Grand Duchy of Luxem...,PE,Structural Adjustment Loan,AD,0,N,L,Closed,...,0.0,0.0,0.0,0,0,0,0,0,0,0.0
18245,P037362,Europe and Central Asia,Kingdom of Denmark;Kingdom of Denmark,PE,Structural Adjustment Loan,AD,0,N,L,Closed,...,0.0,0.0,0.0,0,0,0,0,0,0,0.0
18246,P037452,Europe and Central Asia,Kingdom of the Netherlands;Kingdom of the Neth...,PE,Structural Adjustment Loan,AD,0,N,L,Closed,...,0.0,0.0,0.0,0,0,0,0,0,0,0.0
18247,P037383,Europe and Central Asia,French Republic;French Republic,PE,Structural Adjustment Loan,AD,0,N,L,Closed,...,0.0,0.0,0.0,0,0,0,0,0,0,0.0

In [111]:
projects.to_csv('C:/Users/ASUS/mini_project_alta_zahra/cleaning_data/projects_data_cleaned.csv', index=False)

### 2.2.2 population_data.csv

In [116]:
# Cek Missing Values
missing_values = population_csv.isnull().sum()
missing_values

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              4
                 ..
2013              2
2014              2
2015              2
2016              2
2017              2
Length: 62, dtype: int64

In [120]:
# Isi missing values dengan nilai 0
population_csv.fillna(0, inplace=True)

# Cek Missing Values
missing_values = population_csv.isnull().sum()
missing_values

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2013              0
2014              0
2015              0
2016              0
2017              0
Length: 62, dtype: int64

In [125]:
population_csv.to_csv('C:/Users/ASUS/mini_project_alta_zahra/cleaning_data/population_data_cleaned.csv', index=False)

### 2.2.3 population_data.json

In [126]:
# Cek Missing Values
missing_values = population_json.isnull().sum()
missing_values

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2013              0
2014              0
2015              0
2016              0
2017              0
Length: 62, dtype: int64

In [124]:
# Isi missing values dengan nilai 0
population_json.fillna(0, inplace=True)

# Cek Missing Values
missing_values = population_json.isnull().sum()
missing_values

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2013              0
2014              0
2015              0
2016              0
2017              0
Length: 62, dtype: int64

In [127]:
population_json.to_json('C:/Users/ASUS/mini_project_alta_zahra/cleaning_data/population_data_cleaned.json', index=False)

### 2.2.4 population_data.xml

In [128]:
population_xml

        Country               Item  Year Value
0         Aruba  Population, total  1960  None
1         Aruba  Population, total  1961  None
2         Aruba  Population, total  1962  None
3         Aruba  Population, total  1963  None
4         Aruba  Population, total  1964  None
...         ...                ...   ...   ...
15307  Zimbabwe  Population, total  2013  None
15308  Zimbabwe  Population, total  2014  None
15309  Zimbabwe  Population, total  2015  None
15310  Zimbabwe  Population, total  2016  None
15311  Zimbabwe  Population, total  2017  None

[15312 rows x 4 columns]

In [130]:
population_xml = population_xml[population_xml['Country'] != 'Not classified']
population_xml

        Country               Item  Year Value
0         Aruba  Population, total  1960  None
1         Aruba  Population, total  1961  None
2         Aruba  Population, total  1962  None
3         Aruba  Population, total  1963  None
4         Aruba  Population, total  1964  None
...         ...                ...   ...   ...
15307  Zimbabwe  Population, total  2013  None
15308  Zimbabwe  Population, total  2014  None
15309  Zimbabwe  Population, total  2015  None
15310  Zimbabwe  Population, total  2016  None
15311  Zimbabwe  Population, total  2017  None

[15254 rows x 4 columns]

In [132]:
population_xml.to_xml('C:/Users/ASUS/mini_project_alta_zahra/cleaning_data/population_data_cleaned.xml', index=False)

### 2.2.5 population_data.db

In [133]:
population_db

     Country Name Country Code        1960
0           Aruba          ABW     54211.0
1     Afghanistan          AFG   8996351.0
2          Angola          AGO   5643182.0
3         Albania          ALB   1608800.0
4         Andorra          AND     13411.0
..            ...          ...         ...
259        Kosovo          XKX    947000.0
260   Yemen, Rep.          YEM   5172135.0
261  South Africa          ZAF  17456855.0
262        Zambia          ZMB   3044846.0
263      Zimbabwe          ZWE   3747369.0

[264 rows x 3 columns]

In [139]:
# Cek Missing Values
missing_values = population_db.isnull().sum()
missing_values

Country Name    0
Country Code    0
1960            4
dtype: int64

In [146]:
# cari nilai mean kolom '1960'
mean_value = population_db['1960'].mean()

# Isi missing values dengan nilai mean
population_db['1960'].fillna(mean_value)

0         54211.0
1       8996351.0
2       5643182.0
3       1608800.0
4         13411.0
          ...
259      947000.0
260     5172135.0
261    17456855.0
262     3044846.0
263     3747369.0
Name: 1960, Length: 264, dtype: float64

## 2.3 Penyesuaian Tipe Data

### 2.3.1 projects_data.csv

In [149]:
projects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18248 entries, 0 to 18247
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18248 non-null  object
 1   regionname                18248 non-null  object
 2   countryname               18248 non-null  object
 3   prodline                  18248 non-null  object
 4   lendinginstr              18248 non-null  object
 5   lendinginstrtype          18248 non-null  object
 6   envassesmentcategorycode  18248 non-null  object
 7   supplementprojectflg      18248 non-null  object
 8   productlinetype           18248 non-null  object
 9   projectstatusdisplay      18248 non-null  object
 10  status                    18248 non-null  object
 11  project_name              18248 non-null  object
 12  boardapprovaldate         18248 non-null  object
 13  board_approval_month      18248 non-null  object
 14  closingdate               18248 non-null  object
 15  lendprojectcost           18248 non-null  object
 16  ibrdcommamt               18248 non-null  object
 17  idacommamt                18248 non-null  object
 18  totalamt                  18248 non-null  object
 19  grantamt                  18248 non-null  object
 20  borrower                  18248 non-null  object
 21  impagency                 18248 non-null  object
 22  url                       18248 non-null  object
 23  projectdoc                18248 non-null  float64
 24  majorsector_percent       18248 non-null  float64
 25  sector1                   18248 non-null  object
 26  sector2                   18248 non-null  object
 27  sector3                   18248 non-null  object
 28  sector4                   18248 non-null  object
 29  sector5                   18248 non-null  object
 30  sector                    18248 non-null  object
 31  mjsector1                 18248 non-null  float64
 32  mjsector2                 18248 non-null  float64
 33  mjsector3                 18248 non-null  float64
 34  mjsector4                 18248 non-null  float64
 35  mjsector5                 18248 non-null  float64
 36  mjsector                  18248 non-null  object
 37  theme1                    18248 non-null  object
 38  theme2                    18248 non-null  object
 39  theme3                    18248 non-null  object
 40  theme4                    18248 non-null  object
 41  theme5                    18248 non-null  object
 42  theme                     18248 non-null  float64
 43  goal                      18248 non-null  object
 44  financier                 18248 non-null  object
 45  mjtheme1name              18248 non-null  float64
 46  mjtheme2name              18248 non-null  float64
 47  mjtheme3name              18248 non-null  float64
 48  mjtheme4name              18248 non-null  float64
 49  mjtheme5name              18248 non-null  float64
 50  location                  18248 non-null  object
 51  GeoLocID                  18248 non-null  object
 52  GeoLocName                18248 non-null  object
 53  Latitude                  18248 non-null  object
 54  Longitude                 18248 non-null  object
 55  Country                   18248 non-null  object
 56  Unnamed: 56               18248 non-null  float64
dtypes: float64(14), object(43)
memory usage: 7.9+ MB

In [153]:
projects.dtypes

id                           object
regionname                   object
countryname                  object
prodline                     object
lendinginstr                 object
lendinginstrtype             object
envassesmentcategorycode     object
supplementprojectflg         object
productlinetype              object
projectstatusdisplay         object
status                       object
project_name                 object
boardapprovaldate            object
board_approval_month         object
closingdate                  object
lendprojectcost              object
ibrdcommamt                  object
idacommamt                   object
totalamt                     object
grantamt                     object
borrower                     object
impagency                    object
url                          object
projectdoc                  float64
majorsector_percent         float64
sector1                      object
sector2                      object
sector3                      object
sector4                      object
sector5                      object
sector                       object
mjsector1                   float64
mjsector2                   float64
mjsector3                   float64
mjsector4                   float64
mjsector5                   float64
mjsector                     object
theme1                       object
theme2                       object
theme3                       object
theme4                       object
theme5                       object
theme                       float64
goal                         object
financier                    object
mjtheme1name                float64
mjtheme2name                float64
mjtheme3name                float64
mjtheme4name                float64
mjtheme5name                float64
location                     object
GeoLocID                     object
GeoLocName                   object
Latitude                     object
Longitude                    object
Country                      object
Unnamed: 56                 float64
dtype: object

In [170]:
# Membersihkan data dari karakter non-numerik (koma)
columns_to_convert_numeric = ["lendprojectcost", "ibrdcommamt", "idacommamt", "totalamt", "grantamt"]
#projects[columns_to_clean] = projects[columns_to_clean].apply(lambda x: x.str.replace(',', ''), axis=1)

# Ubah tipe data kolom yang telah dibersihkan ke tipe data numerik
projects[columns_to_convert_numeric] = projects[columns_to_convert_numeric].astype(float)

In [186]:
# Ubah tipe data kolom 'boardapprovaldate' dan 'closingdate' menjadi datetime
projects['boardapprovaldate'] = pd.to_datetime(projects['boardapprovaldate'])

In [188]:
# projects['closingdate'] = pd.to_datetime(projects['closingdate'])

In [189]:
projects.dtypes

id                                       object
regionname                               object
countryname                              object
prodline                                 object
lendinginstr                             object
lendinginstrtype                         object
envassesmentcategorycode                 object
supplementprojectflg                     object
productlinetype                          object
projectstatusdisplay                     object
status                                   object
project_name                             object
boardapprovaldate           datetime64[ns, UTC]
board_approval_month                     object
closingdate                              object
lendprojectcost                         float64
ibrdcommamt                             float64
idacommamt                              float64
totalamt                                float64
grantamt                                float64
borrower                                 object
impagency                                object
url                                      object
projectdoc                              float64
majorsector_percent                     float64
sector1                                  object
sector2                                  object
sector3                                  object
sector4                                  object
sector5                                  object
sector                                   object
mjsector1                               float64
mjsector2                               float64
mjsector3                               float64
mjsector4                               float64
mjsector5                               float64
mjsector                                 object
theme1                                   object
theme2                                   object
theme3                                   object
theme4                                   object
theme5                                   object
theme                                   float64
goal                                     object
financier                                object
mjtheme1name                            float64
mjtheme2name                            float64
mjtheme3name                            float64
mjtheme4name                            float64
mjtheme5name                            float64
location                                 object
GeoLocID                                 object
GeoLocName                               object
Latitude                                 object
Longitude                                object
Country                                  object
Unnamed: 56                             float64
dtype: object

### 2.3.2 population_data.csv

In [ ]:
# Penyesuaian Tipe Data

### 2.3.3 population_data.json

In [ ]:
# Penyesuaian Tipe Data

### 2.3.4 population_data.xml

In [ ]:
# Penyesuaian Tipe Data

### 2.3.5 population_data.db

In [ ]:
# Penyesuaian Tipe Data

## 2.4 Encoding

In [176]:
# Encoding dataset mystery.csv
mystery = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/mystery.csv", encoding='utf-16')
mystery.head()

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

In [177]:
# Cek Missing Values
missing_values = electricity.isnull().sum()
missing_values

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2013              0
2014              0
2015              0
2016              0
2017              0
Length: 62, dtype: int64

In [178]:
# Cek Duplikasi Data
duplicate_rows = electricity[population_json.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
Index: []

[0 rows x 62 columns]

## 2.5 Imputing Data

In [179]:
# Extract data dari file gdp_data.csv
gdp = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/gdp_data.csv", skiprows=4)
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09,NaN

In [180]:
mean_values = gdp.iloc[:, 4:].mean(axis=1)
mean_values

0      2.036355e+09
1      6.620578e+09
2      3.847557e+10
3      6.220172e+09
4      1.501056e+09
           ...
259    5.101823e+09
260    1.701070e+10
261    1.350855e+11
262    6.663644e+09
263    6.484008e+09
Length: 264, dtype: float64

In [181]:
# Imputing Data pada dataset gdp_data.csv
for i, column in enumerate(gdp.columns[4:]):
    gdp[column].fillna(mean_values, inplace=True)
gdp

C:\Users\ASUS\AppData\Local\Temp\ipykernel_14372\4168231576.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gdp[column].fillna(mean_values, inplace=True)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,2.036355e+09,2.036355e+09,2.036355e+09,2.036355e+09,2.036355e+09,2.036355e+09,...,2.498933e+09,2.467704e+09,2.584464e+09,2.036355e+09,2.036355e+09,2.036355e+09,2.036355e+09,2.036355e+09,2.036355e+09,2.036355e+09
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10,6.620578e+09
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,3.847557e+10,3.847557e+10,3.847557e+10,3.847557e+10,3.847557e+10,3.847557e+10,...,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11,3.847557e+10
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,6.220172e+09,6.220172e+09,6.220172e+09,6.220172e+09,6.220172e+09,6.220172e+09,...,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10,6.220172e+09
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,1.501056e+09,1.501056e+09,1.501056e+09,1.501056e+09,1.501056e+09,1.501056e+09,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09,1.501056e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,5.101823e+09,5.101823e+09,5.101823e+09,5.101823e+09,5.101823e+09,5.101823e+09,...,5.653793e+09,5.829934e+09,6.686683e+09,6.500193e+09,7.073420e+09,7.386891e+09,6.439947e+09,6.715487e+09,7.128691e+09,5.101823e+09
260,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,1.701070e+10,1.701070e+10,1.701070e+10,1.701070e+10,1.701070e+10,1.701070e+10,...,2.513027e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041524e+10,4.322858e+10,3.460248e+10,1.821333e+10,1.701070e+10,1.701070e+10
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575248e+09,7.972841e+09,8.497830e+09,9.423212e+09,1.037379e+10,1.133417e+10,...,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11,1.350855e+11
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10,6.663644e+09
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10,6.484008e+09

In [182]:
# Cek Missing Values
missing_values = gdp.isnull().sum()
missing_values

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              8
                 ..
2014              8
2015              8
2016              8
2017              8
Unnamed: 62       8
Length: 63, dtype: int64

In [183]:
# Cek Duplikasi Data
duplicate_rows = gdp[gdp.duplicated()]
gdp = gdp.drop_duplicates
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, Unnamed: 62]
Index: []

[0 rows x 63 columns]

## 2.6 Hapus Duplikasi Data

### 2.6.1 projects_data.csv

In [54]:
# Hapus Duplikasi Data
duplicate_rows = projects[projects.duplicated()]
projects = projects.drop_duplicates()
duplicate_rows

Empty DataFrame
Columns: [id, regionname, countryname, prodline, lendinginstr, lendinginstrtype, envassesmentcategorycode, supplementprojectflg, productlinetype, projectstatusdisplay, status, project_name, boardapprovaldate, board_approval_month, closingdate, lendprojectcost, ibrdcommamt, idacommamt, totalamt, grantamt, borrower, impagency, url, projectdoc , majorsector_percent , sector1, sector2, sector3, sector4, sector5, sector, mjsector1, mjsector2, mjsector3, mjsector4, mjsector5, mjsector, theme1, theme2, theme3, theme4, theme5, theme , goal, financier, mjtheme1name, mjtheme2name, mjtheme3name, mjtheme4name, mjtheme5name, location, GeoLocID, GeoLocName, Latitude, Longitude, Country, Unnamed: 56]
Index: []

[0 rows x 57 columns]

### 2.6.2 population_data.csv

In [56]:
# Hapus Duplikasi Data
duplicate_rows = population_csv[population_csv.duplicated()]
projects = population_csv.drop_duplicates()
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, Unnamed: 62]
Index: []

[0 rows x 63 columns]

### 2.6.3 population_data.json

In [57]:
# Hapus Duplikasi Data
duplicate_rows = population_json[population_json.duplicated()]
projects = population_json.drop_duplicates()
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
Index: []

[0 rows x 62 columns]

### 2.6.4 population_data.xml

In [58]:
# Hapus Duplikasi Data
duplicate_rows = population_xml[population_xml.duplicated()]
projects = population_xml.drop_duplicates()
duplicate_rows

NameError: name 'population_xml' is not defined

### 2.6.5 population_data.db

In [ ]:
# Hapus Duplikasi Data
duplicate_rows = population_db[population_db.duplicated()]
projects = population_db.drop_duplicates()
duplicate_rows

## 2.7 Dummy Variables

### 2.7.1 projects_data.csv

In [ ]:
# Dummy Variables untuk dataset projects_data.csv

### 2.7.2 population_data.csv

In [ ]:
# Dummy Variables untuk dataset population_data.csv

### 2.7.3 population_data.json

In [ ]:
# Dummy Variables untuk dataset population_data.json

### 2.7.4 population_data.xml

In [ ]:
# Dummy Variables untuk dataset population_data.xml

### 2.7.5 population_data.db

In [ ]:
# Dummy Variables untuk dataset population_data.db

## 2.8 Replace dan Regex

### 2.8.1 projects_data.csv

In [ ]:
# Replace Data

In [ ]:
# Regex Data

### 2.8.2 population_data.csv

In [ ]:
# Replace Data

In [ ]:
# Regex Data

### 2.8.3 population_data.json

In [ ]:
# Replace Data

In [ ]:
# Regex Data

### 2.8.4 population_data.xml

In [ ]:
# Replace Data

In [ ]:
# Regex Data

### 2.8.5 population_data.db

In [ ]:
# Replace Data

In [ ]:
# Regex Data

## 2.9 Hapus Outliers

### 2.9.1 products_data.csv

In [ ]:
# Hapus Outliers

### 2.9.2 population_data.csv

In [ ]:
# Hapus Outliers

### 2.9.3 population_data.json

In [ ]:
# Hapus Outliers

### 2.9.4 population_data.xml

In [ ]:
# Hapus Outliers

### 2.9.5 population_data.db

In [ ]:
# Hapus Outliers

## 2.10 Scaling Features

### 2.10.1 products_data.csv

In [ ]:
# Scaling Features

### 2.10.2 population_data.csv

In [ ]:
# Scaling Features

### 2.10.3 population_data.json

In [ ]:
# Scaling Features

### 2.10.4 population_data.xml

In [ ]:
# Scaling Features

### 2.10.5 population_data.db

In [ ]:
# Scaling Features

## 2.11 Feature Engineering

### 2.11.1 products_data.csv

In [ ]:
# Feture Engineering

### 2.11.2 population_data.csv

In [ ]:
# Feture Engineering

### 2.11.3 population_data.json

In [ ]:
# Feture Engineering

### 2.11.4 population_data.xml

In [ ]:
# Feture Engineering

### 2.11.5 population_data.db

In [ ]:
# Feture Engineering

# **3. LOAD**

##### Kolom countryname, countrycode, year, gdp, population, gdppercapita, ruralpopulationpercent, electricityaccesspercent, dan projectcost adalah kolom yang akan di load ke dalam database, file dam cloud storage.

# **4. DATA VISUALIZATION**

## 4.1 Visualisasi Data

### 4.1.1 projects_data.csv

In [ ]:
# Visualisasi Data

### 4.1.2 populatuion_data.csv

In [ ]:
# Visualisasi Data

### 4.1.3 populatuion_data.json

In [ ]:
# Visualisasi Data

### 4.1.4 populatuion_data.xml

In [ ]:
# Visualisasi Data

### 4.1.5 populatuion_data.db

In [ ]:
# Visualisasi Data

## 4.2 Analisis Data

### 4.2.1 projects_data.csv

In [ ]:
# Analisis Data

### 4.2.2 population_data.csv

In [ ]:
# Analisis Data

### 4.2.3 population_data.json

In [ ]:
# Analisis Data

### 4.2.4 population_data.xml

In [ ]:
# Analisis Data

### 4.2.5 population_data.db

In [ ]:
# Analisis Data

## 4.3 Presentasi Visualisasi Data (Slide Presentasi)

## 4.4 Analisis

##### dari Kolom countryname, countrycode, year, gdp, population, gdppercapita, ruralpopulationpercent, electricityaccesspercent, dan projectcost buatkan visualisasi data yang informatif dan menarik. analisis ini bisa berupa analisis statistik deskriptif, analisis korelasi, analisis distribusi, analisis tren, analisis perbandingan, atau analisis lain yang informatif. gunakan teknik visualisasi untuk membuat analisis ini lebih menarik dan informatif.