# **1. EXTRACT DATA**

In [38]:
# import library ayng digunakan
import pandas as pd
import json
import sqlite3

## 1.1 projects_data.csv

In [39]:
# Membaca Data dari projects_data.csv
projects = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/projects_data.csv")
projects.head()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16480\1348817855.py:2: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  projects = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/projects_data.csv")

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN

In [40]:
# Cek Missing Values
missing_values = projects.isnull().sum()
missing_values

id                              0
regionname                      0
countryname                     0
prodline                        0
lendinginstr                  246
lendinginstrtype              246
envassesmentcategorycode     5811
supplementprojectflg           53
productlinetype                 0
projectstatusdisplay            4
status                          4
project_name                    0
boardapprovaldate            1504
board_approval_month         1504
closingdate                  3349
lendprojectcost               125
ibrdcommamt                     0
idacommamt                      0
totalamt                        0
grantamt                        0
borrower                     5919
impagency                    6097
url                             0
projectdoc                  18248
majorsector_percent         18248
sector1                         0
sector2                      8721
sector3                     11761
sector4                     13872
sector5                     15535
sector                        638
mjsector1                   18248
mjsector2                   18248
mjsector3                   18248
mjsector4                   18248
mjsector5                   18248
mjsector                      638
theme1                          0
theme2                       8395
theme3                      10764
theme4                      13014
theme5                      15320
theme                       18248
goal                         6115
financier                   11188
mjtheme1name                18248
mjtheme2name                18248
mjtheme3name                18248
mjtheme4name                18248
mjtheme5name                18248
location                    13922
GeoLocID                    13922
GeoLocName                  13923
Latitude                    13922
Longitude                   13922
Country                     14045
Unnamed: 56                 18248
dtype: int64

In [41]:
# Cek Duplikasi Data
duplicate_rows = projects[projects.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [id, regionname, countryname, prodline, lendinginstr, lendinginstrtype, envassesmentcategorycode, supplementprojectflg, productlinetype, projectstatusdisplay, status, project_name, boardapprovaldate, board_approval_month, closingdate, lendprojectcost, ibrdcommamt, idacommamt, totalamt, grantamt, borrower, impagency, url, projectdoc , majorsector_percent , sector1, sector2, sector3, sector4, sector5, sector, mjsector1, mjsector2, mjsector3, mjsector4, mjsector5, mjsector, theme1, theme2, theme3, theme4, theme5, theme , goal, financier, mjtheme1name, mjtheme2name, mjtheme3name, mjtheme4name, mjtheme5name, location, GeoLocID, GeoLocName, Latitude, Longitude, Country, Unnamed: 56]
Index: []

[0 rows x 57 columns]

## 1.2 population_data.csv

In [42]:
# Membaca Data dari population_data.csv
population_csv = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/population_data.csv")
population_csv.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0,NaN

In [43]:
# Cek Missing Values
missing_values = population_csv.isnull().sum()
missing_values

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960                4
                 ...
2014                2
2015                2
2016                2
2017                2
Unnamed: 62       264
Length: 63, dtype: int64

In [44]:
# Cek Duplikasi Data
duplicate_rows = population_csv[population_csv.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, Unnamed: 62]
Index: []

[0 rows x 63 columns]

## 1.3 population_data.json

In [45]:
# Membaca Data dari population_data.json
population_json = pd.read_json("C:/Users/ASUS/mini_project_alta_zahra/dataset/population_data.json")
population_json.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

In [46]:
# Cek Missing Values
missing_values = population_json.isnull().sum()
missing_values

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              4
                 ..
2013              2
2014              2
2015              2
2016              2
2017              2
Length: 62, dtype: int64

In [47]:
# Cek Duplikasi Data
duplicate_rows = population_json[population_json.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
Index: []

[0 rows x 62 columns]

## 1.4 population_data.xml

In [48]:
%pip install lxml

Requirement already satisfied: lxml in c:\users\asus\appdata\local\programs\python\python39\lib\site-packages (5.2.2)
Note: you may need to restart the kernel to use updated packages.

In [49]:
# Membuka file dari population_data.xml
from bs4 import BeautifulSoup

with open('C:/Users/ASUS/mini_project_alta_zahra/dataset/population_data.xml', 'r') as file:
    xml_data= file.read()    
    
# Menggunakan parser lxml untuk BeautifulSoup
soup = BeautifulSoup(xml_data, 'lxml')

countries = []
items = []
years = []
values = []

for record in soup.find_all('record'):
    country = record.find("field", {"name": "Country or Area"}).text
    item = record.find("field", {"name": "Item"}).text
    year_tag = record.find("field", {"name" : "Year"})
    year = int(year_tag.text) if year_tag.text else None # handle missing values
    value_tag = record.find("field", {"name": "Values"})
    value = int(value_tag.text) if value_tag and value_tag.text.isdigit() else None
    
    countries.append(country)
    items.append(item)
    years.append(year)
    values.append(value)

data = {
    "Country" : countries,
    "Item" : items,
    "Year" : years,
    "Value" : values
}

population_xml = pd.DataFrame(data)
# Menampilkan DataFrame
print("DataFrame awal:")
print(population_xml.head())

DataFrame awal:
  Country               Item  Year Value
0   Aruba  Population, total  1960  None
1   Aruba  Population, total  1961  None
2   Aruba  Population, total  1962  None
3   Aruba  Population, total  1963  None
4   Aruba  Population, total  1964  None

In [50]:
# Cek Missing Values
missing_values = population_xml.isnull().sum()
missing_values

Country        0
Item           0
Year           0
Value      15312
dtype: int64

In [51]:
# Cek Duplikasi Data
duplicate_rows = population_xml[population_xml.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Country, Item, Year, Value]
Index: []

## 1.5 population_data.db

In [52]:
# Membaca Data dari population_data.db

data = []
conn = sqlite3.connect('C:/Users/ASUS/mini_project_alta_zahra/dataset/population_data.db')
cursor = conn.cursor()

cursor.execute('SELECT "Country_Name", "Country_Code", "1960" FROM population_data')
rows = cursor.fetchall()
for row in rows:
    data.append(row)
conn.close()
population_db = pd.DataFrame(data, columns=["Country Name", "Country Code", "1960"])

population_db.head()

  Country Name Country Code       1960
0        Aruba          ABW    54211.0
1  Afghanistan          AFG  8996351.0
2       Angola          AGO  5643182.0
3      Albania          ALB  1608800.0
4      Andorra          AND    13411.0

In [53]:
# Cek Missing Values
missing_values = population_db.isnull().sum()
missing_values

Country Name    0
Country Code    0
1960            4
dtype: int64

In [54]:
# Mengisi missing values dengan nilai mean
population_db["1960"].fillna(mean_1960, inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16480\1822894852.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  population_db["1960"].fillna(mean_1960, inplace=True)

In [55]:
missing_values

Country Name    0
Country Code    0
1960            4
dtype: int64

In [56]:
# Cek Duplikasi Data
duplicate_rows = population_db[population_db.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, 1960]
Index: []

## 1.6 API

In [57]:
# Mengambil data populasi dari berbagai negara
import requests
import numpy as np

In [58]:
# API: http://api.worldbank.org/v2/countries/ + list of country abbreviations separated by ; + /indicators/ + indicator name + ? + options
# Example: http://api.worldbank.org/v2/countries/br;cn;us;id/indicators/SP.POP.TOTL/?format=json&per_page=1000

In [70]:
base_url = "http://api.worldbank.org/v2/countries/"
country_codes = "all"
indicator = "SP.POP.TOTL"
options = "?format=json&per_page=1000"
api_url = f"{base_url}{country_codes}/indicator/{indicator}/{options}"

response = requests.get(api_url)
if response.status_code == 200:
    data = response.json()
    total_pages = data[0]['pages']
    total_records = data[0]['total']
    
    population_list = []
    
    data_dict = {}
    
    for page in range(1, total_pages + 1):
        page_url = f"{api_url}&page={page}"
        response = requests.get(page_url)
        
        if response.status_code == 200:
            data = response.json()
            
            for entry in data[1]:
                country_or_area = entry['country']['value']
                year = int(entry['date'])
                value_str = entry['value']
                country_code = entry['countryiso3code']
                indicator_name = entry['indicator']['value']
                indicator_code = entry['indicator']['id']
                
                value = float(value_str) if value_str else np.nan
                
                if country_or_area not in data_dict:
                    data_dict[country_or_area]={}
                data_dict[country_or_area]["Country Code"] = country_code
                data_dict[country_or_area]["Indicator Name"] = indicator_name
                data_dict[country_or_area]["Indicator Code"] = indicator_code
                data_dict[country_or_area][str(year)] = value
                
            print(f"Printing Page : {page}")
        else:
            print(f"Error fetching page {page} : {response.status_code}")
            breaks
        
    population_api = pd.DataFrame(data_dict).transpose()
    population_api = population_api.reset_index().rename(columns={'index':'Country Name'})
else:
    print(f"Error : {response.status_code}")
    
population_api.head()

Printing Page : 1
Printing Page : 2
Printing Page : 3
Printing Page : 4
Printing Page : 5
Printing Page : 6
Printing Page : 7
Printing Page : 8
Printing Page : 9
Printing Page : 10
Printing Page : 11
Printing Page : 12
Printing Page : 13
Printing Page : 14
Printing Page : 15
Printing Page : 16
Printing Page : 17
Printing Page : 18

,Country Name,Country Code,Indicator Name,Indicator Code,2023,2022,2021,2020,2019,2018,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
0,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,NaN,720859132.0,702977106.0,685112979.0,667242986.0,649757148.0,...,167596160.0,162875171.0,158313235.0,153955516.0,149742351.0,145605995.0,141630546.0,137835590.0,134169237.0,130692579.0
1,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,NaN,490330870.0,478185907.0,466189102.0,454306063.0,442646825.0,...,118615741.0,115921723.0,113319950.0,110798486.0,108336203.0,105959979.0,103667517.0,101445032.0,99314028.0,97256290.0
2,Arab World,ARB,"Population, total",SP.POP.TOTL,NaN,464684914.0,456520777.0,449228296.0,441467739.0,432545676.0,...,119061868.0,115729597.0,112499764.0,109394536.0,106444103.0,103618568.0,100892507.0,98268683.0,95760348.0,93359407.0
3,Caribbean small states,CSS,"Population, total",SP.POP.TOTL,NaN,7505478.0,7481877.0,7444768.0,7424102.0,7374650.0,...,4883868.0,4813958.0,4743053.0,4670465.0,4596245.0,4520592.0,4443544.0,4366420.0,4289429.0,4209141.0
4,Central Europe and the Baltics,CEB,"Population, total",SP.POP.TOTL,NaN,100108221.0,101413176.0,102180124.0,102398537.0,102538451.0,...,98606630.0,97884022.0,97043270.0,96146336.0,95440988.0,94715795.0,93840016.0,93009498.0,92232738.0,91401764.0

In [67]:
# Cek Missing Values
missing_values = population_api.isnull().sum()
missing_values

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
2023              266
                 ...
1964                2
1963                2
1962                2
1961                2
1960                2
Length: 68, dtype: int64

In [68]:
# Cek Duplikasi Data
duplicate_rows = population_api[population_api.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965, 1964, 1963, 1962, 1961, 1960]
Index: []

[0 rows x 68 columns]

# **2. TRANSFORM**

## 2.1 Kombinasi Data

In [35]:
# Extract Data dari rural_population_percent.csv
rural = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/rural_population_percent.csv")
rural.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873,NaN

In [37]:
# Extract Data dari electricity_access_percent.csv
electricity = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/electricity_access_percent.csv")
electricity.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,93.354546,93.356292,93.942375,94.255814,94.578262,94.906723,95.238182,95.570145,NaN,NaN
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.500000,84.137138,NaN,NaN
2,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.382469,33.514950,34.600000,35.821964,36.990490,32.000000,42.000000,40.520607,NaN,NaN
3,Albania,ALB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
4,Andorra,AND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN

In [59]:
# Kombinasi Data 
combine = pd.concat([rural,electricity])
combine.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.579,56.941,57.302,57.636,57.942,58.221,58.472,58.696,58.893,NaN
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,75.687,75.311,74.926,74.532,74.129,73.718,73.297,72.868,72.430,NaN
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,60.701,59.903,59.100,58.301,57.510,56.726,55.950,55.181,54.422,NaN
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,48.924,47.837,46.753,45.670,44.617,43.591,42.593,41.624,40.684,NaN
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.648,12.183,12.740,13.292,13.835,14.367,14.885,15.388,15.873,NaN

In [61]:
# Cek Missing Values
missing_values = combine.isnull().sum()
missing_values

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              269
                 ...
2014                7
2015                7
2016                7
2017              268
Unnamed: 62       528
Length: 63, dtype: int64

In [60]:
# Cek Duplikasi Data
duplicate_rows = combine[combine.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, Unnamed: 62]
Index: []

[0 rows x 63 columns]

## 2.2 Cleaning Data

### 2.2.1 population_data.csv

In [14]:
# Penyesuaian Data

In [15]:
# Cek / Hapus Missing Values

### 2.2.2 population_data.json

In [ ]:
# Penyesuaian Data

In [ ]:
# Cek / Hapus Missing Values

### 2.2.3 population_data.xml

In [ ]:
# Penyesuaian Data

In [ ]:
# Cek / Hapus Missing Values

### 2.2.4 population_data.db

In [ ]:
# Penyesuaian Data

In [ ]:
# Cek / Hapus Missing Values

## 2.3 Penyesuaian Tipe Data

### 2.3.1 projects_data.csv

In [ ]:
# Penyesuaian Tipe Data

### 2.3.2 population_data.csv

In [ ]:
# Penyesuaian Tipe Data

### 2.3.3 population_data.json

In [ ]:
# Penyesuaian Tipe Data

### 2.3.4 population_data.xml

In [ ]:
# Penyesuaian Tipe Data

### 2.3.5 population_data.db

In [ ]:
# Penyesuaian Tipe Data

## 2.4 Encoding

In [48]:
# Encoding dataset mystery.csv
mystery = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/mystery.csv", encoding='utf-16')
mystery.head()

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

In [49]:
# Cek Missing Values
missing_values = electricity.isnull().sum()
missing_values

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              264
                 ...
2014                3
2015                3
2016                3
2017              264
Unnamed: 62       264
Length: 63, dtype: int64

In [50]:
# Cek Duplikasi Data
duplicate_rows = electricity[population_json.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, Unnamed: 62]
Index: []

[0 rows x 63 columns]

## 2.5 Imputing Data

In [71]:
# Extract data dari file gdp_data.csv
gdp = pd.read_csv("C:/Users/ASUS/mini_project_alta_zahra/dataset/gdp_data.csv", skiprows=4)
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09,NaN

In [75]:
# Cek Missing Values
missing_values = gdp.isnull().sum()
missing_values

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              140
                 ...
2014               17
2015               18
2016               23
2017               30
Unnamed: 62       264
Length: 63, dtype: int64

In [ ]:
# Imputing Data pada dataset gdp_data.csv yang memiliki missing values. 
# gunakan SimpleImputer untuk mengisi missing values pada dataset ini atau 
# teknik lain seperti menggunakan fillna, mean, median, dan lain-lain.

# Imputing Data pada dataset gdp_data.csv

In [76]:
# Cek Duplikasi Data
duplicate_rows = gdp[gdp.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, Unnamed: 62]
Index: []

[0 rows x 63 columns]

## 2.6 Hapus Duplikasi Data

### 2.6.1 projects_data.csv

In [ ]:
# Hapus Duplikasi Data

### 2.6.2 population_data.csv

In [ ]:
# Hapus Duplikasi Data

### 2.6.3 population_data.json

In [ ]:
# Hapus Duplikasi Data

### 2.6.4 population_data.xml

In [ ]:
# Hapus Duplikasi Data

### 2.6.5 population_data.db

In [ ]:
# Hapus Duplikasi Data

## 2.7 Dummy Variables

### 2.7.1 projects_data.csv

In [ ]:
# Dummy Variables untuk dataset projects_data.csv

### 2.7.2 population_data.csv

In [ ]:
# Dummy Variables untuk dataset population_data.csv

### 2.7.3 population_data.json

In [ ]:
# Dummy Variables untuk dataset population_data.json

### 2.7.4 population_data.xml

In [ ]:
# Dummy Variables untuk dataset population_data.xml

### 2.7.5 population_data.db

In [ ]:
# Dummy Variables untuk dataset population_data.db

## 2.8 Replace dan Regex

### 2.8.1 projects_data.csv

In [ ]:
# Replace Data

In [ ]:
# Regex Data

### 2.8.2 population_data.csv

In [ ]:
# Replace Data

In [ ]:
# Regex Data

### 2.8.3 population_data.json

In [ ]:
# Replace Data

In [ ]:
# Regex Data

### 2.8.4 population_data.xml

In [ ]:
# Replace Data

In [ ]:
# Regex Data

### 2.8.5 population_data.db

In [ ]:
# Replace Data

In [ ]:
# Regex Data

## 2.9 Hapus Outliers

### 2.9.1 products_data.csv

In [ ]:
# Hapus Outliers

### 2.9.2 population_data.csv

In [ ]:
# Hapus Outliers

### 2.9.3 population_data.json

In [ ]:
# Hapus Outliers

### 2.9.4 population_data.xml

In [ ]:
# Hapus Outliers

### 2.9.5 population_data.db

In [ ]:
# Hapus Outliers

## 2.10 Scaling Features

### 2.10.1 products_data.csv

In [ ]:
# Scaling Features

### 2.10.2 population_data.csv

In [ ]:
# Scaling Features

### 2.10.3 population_data.json

In [ ]:
# Scaling Features

### 2.10.4 population_data.xml

In [ ]:
# Scaling Features

### 2.10.5 population_data.db

In [ ]:
# Scaling Features

## 2.11 Feature Engineering

### 2.11.1 products_data.csv

In [ ]:
# Feture Engineering

### 2.11.2 population_data.csv

In [ ]:
# Feture Engineering

### 2.11.3 population_data.json

In [ ]:
# Feture Engineering

### 2.11.4 population_data.xml

In [ ]:
# Feture Engineering

### 2.11.5 population_data.db

In [ ]:
# Feture Engineering

# **3. LOAD**

##### Kolom countryname, countrycode, year, gdp, population, gdppercapita, ruralpopulationpercent, electricityaccesspercent, dan projectcost adalah kolom yang akan di load ke dalam database, file dam cloud storage.

# **4. DATA VISUALIZATION**

## 4.1 Visualisasi Data

### 4.1.1 projects_data.csv

In [ ]:
# Visualisasi Data

### 4.1.2 populatuion_data.csv

In [ ]:
# Visualisasi Data

### 4.1.3 populatuion_data.json

In [ ]:
# Visualisasi Data

### 4.1.4 populatuion_data.xml

In [ ]:
# Visualisasi Data

### 4.1.5 populatuion_data.db

In [ ]:
# Visualisasi Data

## 4.2 Analisis Data

### 4.2.1 projects_data.csv

In [ ]:
# Analisis Data

### 4.2.2 population_data.csv

In [ ]:
# Analisis Data

### 4.2.3 population_data.json

In [ ]:
# Analisis Data

### 4.2.4 population_data.xml

In [ ]:
# Analisis Data

### 4.2.5 population_data.db

In [ ]:
# Analisis Data

## 4.3 Presentasi Visualisasi Data (Slide Presentasi)

## 4.4 Analisis

##### dari Kolom countryname, countrycode, year, gdp, population, gdppercapita, ruralpopulationpercent, electricityaccesspercent, dan projectcost buatkan visualisasi data yang informatif dan menarik. analisis ini bisa berupa analisis statistik deskriptif, analisis korelasi, analisis distribusi, analisis tren, analisis perbandingan, atau analisis lain yang informatif. gunakan teknik visualisasi untuk membuat analisis ini lebih menarik dan informatif.